/*========================================================
        DARK LAYOUT
=========================================================*/

.dropzone {
  min-height: 150px;
  border: 2px dashed #7367f0;
  background: #f8f8f8; }
  .dropzone .dz-message {
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 300px;
    margin-top: -30px;
    color: #7367f0;
    text-align: center; }
  .dropzone .dz-message:before {
    content: "\e864";
    font-family: 'feather';
    font-size: 25px;
    position: absolute;
    top: 28px;
    width: 80px;
    height: 80px;
    display: inline-block;
    left: 50%;
    margin-left: -40px;
    line-height: 1;
    z-index: 2;
    color: #7367f0;
    text-indent: 0px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased; }
  .dropzone .dz-preview {
    background: transparent; }
    .dropzone .dz-preview .dz-error-mark, .dropzone .dz-preview .dz-success-mark {
      background-image: url("../../../images/dropzone/spritemap.png"); }
    .dropzone .dz-preview .dz-error-message {
      min-width: 113px;
      top: 0;
      left: 0; }
  .dropzone .dz-preview .dz-remove {
    font-size: 1.1rem;
    color: #ea5455;
    line-height: 2rem; }
    .dropzone .dz-preview .dz-remove:before {
      content: "\e8f6";
      font-family: 'feather';
      display: inline-block;
      line-height: 1;
      z-index: 2;
      text-indent: 0px;
      font-weight: normal;
      -webkit-font-smoothing: antialiased; }
    .dropzone .dz-preview .dz-remove:hover {
      text-decoration: none;
      color: #e42728; }


