#form p {
    text-align: center;
}

#form label {
    font-size: 20px;
}

input[type="radio"] {
    display: none;
}

label {
    color: grey;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
    font-size: 7vh;
    cursor: pointer;
}

label:hover,
label:hover ~ label {
    color: orange;
    cursor: pointer;
}

input[type="radio"]:checked ~ label {
    color: orange;
}
